doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="pagina de rock")
        title Rock Heart
        link(rel="icon", href="assets/icon.png")
        link(rel="stylesheet", href="css/styles.css")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css' integrity='sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm' crossorigin='anonymous')

    body 
        header.header
            .header__fondo
                h2.header__title #[span.span Rock] heart
                .header__text  
                    p.header__parrafo "No seré una estrella de rock, #[span.span-2 seré una leyenda"]
                    a(href="#fot").boton__header Mas Informacion
        aside.aside
            block enlaces
        main.main 
            block secciones
        footer.footer
            section#fot.footer__section 
                article.footer__article 
                    .footer__cont 
                        h4.footer__subtitle Rock Heart 
                        p.footer__text Tabasco, Mexico
                        p.footer__text omarcore8@gmail.com
                    .footer__cont   
                        h4.footer__subtitle Redes sociales
                        .footer__links
                            a(href="https://www.youtube.com/channel/UCRHZ9Aso8g-KkD0rBMRtBWw" target="_blank").fab.fa-youtube
                            a(href="https://www.linkedin.com/in/omar-s%C3%A1nchez-santana-47a571200/", target="_blank").fab.fa-linkedin
                            a(href="https://github.com/omarsan6", target="_blank").fab.fa-github-square
        button.boton__enlace-pagina
            span.boton__span
        script(src="js/scripts-min.js" type="module")  

        