.banda 
    figure.banda__cards 
        .banda__cont
            img(src="assets/c1.jpg", alt="ima1").banda__img
        .banda__cont
            figcaption.banda__text--active The Beatles
            figcaption.banda__text Grupo británico de música rock y pop, el más admirado y popular de la década de 1960 y uno de los más influyentes en la historia de la música moderna. 
    figure.banda__cards.banda__cards--reverse 
        .banda__cont
            img(src="assets/c2.jpg", alt="ima2").banda__img
        .banda__cont
            figcaption.banda__text--active Led Zeppelin
            figcaption.banda__text Su música trasciende cualquier etiqueta, incorporando a su base hard rock y a sus textos de influencia mística o mitológica heterogéneos sonidos que tanto se inspiraron en el blues como en el folk británico o en el funk. 
    figure.banda__cards.banda__cards 
        .banda__cont
            img(src="assets/c3.jpg", alt="ima").banda__img
        .banda__cont
            figcaption.banda__text--active Queen
            figcaption.banda__text Banda de rock británica que gozó de gran fama desde mediados de los setenta y durante toda la década de los ochenta; la espectacularidad y dinamismo de sus actuaciones y la asimilación al rock de tendencias jazzísticas, sinfónicas y operísticas fueron algunas de las claves de su éxito
    figure.banda__cards.banda__cards--reverse 
        .banda__cont
            img(src="assets/c4.jpg", alt="ima4").banda__img
        .banda__cont
            figcaption.banda__text--active Pink Floyd
            figcaption.banda__text  El grupo pasó por dos etapas bien definidas, la primera con Roger Waters y Syd Barret como líderes creativos (papel que asumió el guitarrista David Gilmour cuando aquél fue expulsado por sus problemas con las drogas), y la segunda tras la marcha de Roger Waters.
    figure.banda__cards.banda__cards
        .banda__cont
            img(src="assets/c5.jpg", alt="ima5").banda__img
        .banda__cont
            figcaption.banda__text--active The Rolling Stones
            figcaption.banda__text  En 1989 fueron incluidos en el Salón de la Fama del Rock and Roll, y en 2004 la revista estadounidense Rolling Stone los colocó en el puesto n.º 4 en su lista de Los 50 mejores artistas de todos los tiempos.