.canciones 
    figure.canciones__figure 
        img(src="assets/img1.jpg", alt="img1").canciones__img
        figcaption.canciones__text.canciones__text--active I Can't Get No Satisfaction
        figcaption.canciones__text The Rolling Stones. 
        figcaption.canciones__text Año 1965
    figure.canciones__figure 
        img(src="assets/img2.jpg", alt="img2").canciones__img
        figcaption.canciones__text.canciones__text--active Respect
        figcaption.canciones__text Aretha Franklin. 
        figcaption.canciones__text Año 1967
    figure.canciones__figure 
        img(src="assets/img3.jpg", alt="img3").canciones__img
        figcaption.canciones__text.canciones__text--active Stairway to Heaven
        figcaption.canciones__text Led Zeppelin. 
        figcaption.canciones__text Año 1971
    figure.canciones__figure 
        img(src="assets/img4.jpg", alt="img4").canciones__img
        figcaption.canciones__text.canciones__text--active Like a Rolling Stone
        figcaption.canciones__text Bob Dylan
        figcaption.canciones__text Año 1965
    figure.canciones__figure 
        img(src="assets/img5.jpg", alt="img5").canciones__img
        figcaption.canciones__text.canciones__text--active  Bruce Springsteen.
        figcaption.canciones__text Born to Run 
        figcaption.canciones__text Año 1975
    figure.canciones__figure 
        img(src="assets/img6.jpg", alt="img6").canciones__img
        figcaption.canciones__text.canciones__text--active The Eagles.
        figcaption.canciones__text Hotel California 
        figcaption.canciones__text Año 1976
    figure.canciones__figure 
        img(src="assets/img7.jpg", alt="img7").canciones__img
        figcaption.canciones__text.canciones__text--active The Doors.
        figcaption.canciones__text Good Vibrations
        figcaption.canciones__text Año 1967
    figure.canciones__figure 
        img(src="assets/img8.jpg", alt="img8").canciones__img
        figcaption.canciones__text.canciones__text--active The Beach Boys.
        figcaption.canciones__text Good Vibrations 
        figcaption.canciones__text Año 1967
