.concepto 
    .concepto__title 
        h3.concepto__h3 ROCK
    .concepto__concepto 
        p.concepto__parrafo Estilo musical nacido en la década de 1960 como derivación del rock and roll y que se caracteriza por el empleo de melodías y ritmos complejos, término amplio que agrupa una variedad de estilos de música popular originados como rock and roll a principios de la década de 1950 en Estados Unidos y que evolucionó en un gran rango de diferentes estilos en los años 1960