.evolucion
    .evolucion__componente
        .evolucion__ano 
            h3.evolucion__subtitle 50'
        .evolucion__parrafo 
            p.evolucion__text Oficialmente el Rock & Roll aparece con la grabación de “That’s All Right” de Elvis Presley, pero el término comenzó a emplearlo, en 1954 en radio.

    .evolucion__componente
        .evolucion__ano 
            h3.evolucion__subtitle 60'
        .evolucion__parrafo 
            p.evolucion__text Quien puede olvidar a Bob Dylan, Los Beatles, The Who, Los Rolling Stones, The Byrds, en fin, muchas personas que se interesaron en la música y se dedicaron a hacerla mejor.
    
    .evolucion__componente
        .evolucion__ano 
            h3.evolucion__subtitle 70'
        .evolucion__parrafo 
            p.evolucion__text Los espectáculos de Led Zeppelin, The Rolling Stones y Pink Floyd, entre otros, serán impresionantes visualmente.
    .evolucion__componente
        .evolucion__ano 
            h3.evolucion__subtitle 80'
        .evolucion__parrafo 
            p.evolucion__text Surge el rock melódico o soft rock, caracterizado por potentes solos de guitarra y melodías a cargo de los teclados; estilo encabezado por bandas como Journey, Toto, Foreigner y Boston.
        
    .evolucion__componente
        .evolucion__ano 
            h3.evolucion__subtitle 90'
        .evolucion__parrafo 
            p.evolucion__text Nace el Grunge. El surgimiento de este género se forja en Seattle y fusiona la potencia y fiereza del punk y el heavy metal, aunque hay quién lo considera un derivado del rock alternativo.
        
    .evolucion__componente
        .evolucion__ano 
            h3.evolucion__subtitle 2000
        .evolucion__parrafo 
            p.evolucion__text Tras las fusiones entre géneros que se dieron en la década de 1990, el rock vuelve a su concepto más básico en el 2000 como garage rock o garage rock revival.