section#concepto.section
    h2.section__subtitle Concepto
    article.article 
        block concepto 
            include ../includes/concepto.pug 
section#evolucion.section
    h2.section__subtitle Evolucion
    article.article  
        block evolucion 
            include ../includes/evolucion.pug
section#cancion.section
    h2.section__subtitle Canciones conocidas
    article.article  
        block canciones
            include ../includes/cancionesConocidas.pug
section#bandas.section
    h2.section__subtitle Bandas conocidas
    block banda 
        include ../includes/bandaConocida.pug
    article.article 