@use '../mixin/boton' as b;
@use '../base/functions' as f;
@use '../mixin/_afterBe' as ab;
@use '../mixin/breakpoints' as bk;

.boton{
    
    &__header{
        @include b.btn();
        border: 1px solid f.color('white-trans');
        color: f.color('white');
        background-color: f.color('primary');
        z-index: 997;
        transition: transform 0.2 ease;
        font-weight: 500;
        letter-spacing: 1px;
        position: absolute;
        text-decoration: none;

        @include bk.tablet{
           font-size: 1.5rem;
        }

        @include bk.laptop{
            position: static;
            font-size: 1.3rem;
            &:hover{
                background-color: f.color('black');
                color: f.color('white-modal');
            }

            &:active{
                transform: scale(0.9);
            }
        }
    }

    &__enlace-pagina{
        position:fixed;
        width:4rem;
        height: 4rem;
        border-radius: 50%;
        @include b.btn();
        margin: 5px;
        background-color: f.color('black-modal');
        border: 1px solid f.color('btn-color');
        z-index: 999;
        bottom: 1vh;
        right: 1vw;

        &::before,&::after{
            @include ab.ab();
        }
        &::before{
            top: 1px;
        }

        &::after{
            top: 11px;
        }

        @include bk.laptop{
            opacity: 0;
            position: absolute;
            visibility: hidden;
        }
    }

    &__span{
        z-index: 999;

        &::before{
            @include ab.ab();
        }

        &::before{
            top: 21px;
        }
    }
   
}